body{
	font-size: 1.5em;
	background-color: rgb(8, 120, 160);
}
a{
	color: rgb(250,250,0);
}
a:hover{
	color: rgb(255,255,255);
}
h3{
	text-transform: uppercase;
	font-weight: 700;
}
.navbar{
	background-color: rgb(10, 150, 200);
}
#footer{
	border-top: rgb(6, 90, 120) 3px solid;
	padding: 30px;
	text-align: center;
	text-decoration: underline rgb(6, 90, 120) 2px;
}